<div class="site-header">
	<a href="/">The AI Joke Roundup</a>
	<div class="about-button">About
		<div class="about-box">
			<h1>The AI Joke Roundup</h1>
			<p>by Adam Peterson</p>
			<p>Code available at <a href="https://github.com/alphaetapi-ai/ai-joke-roundup">GitHub</a>
		</div>
	</div>
</div>
